<footer class="br-footer">
  <div class="footer-left">
      <% if (lang == 'en') { %>
        <div class="mg-b-2">Copyright &copy; 2022. Cyberstate Technologies Inc. All Rights Reserved.</div>
        <div>Attentively and carefully maintained by Cyberstate Technologies Inc.</div>
      <% } else { %>
        <div class="mg-b-2">كافة حقوق الطبع والنشر محفوظة الى  © 2022. Cyberstate Technologies Inc</div>
        <div>تتم صيانتها بحرص و عناية من قبل Cyberstate Technologies Inc</div>
      <% } %>
    
  </div>
  
</footer>
