<!DOCTYPE html>
<% if (lang == 'en') { %>
  <html lang="en">
<% } else { %>
  <html lang="en" dir="rtl" class="rtl">
<% } %>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Monitoring of Housing Reconstruction in Awaran Project">
    <meta name="author" content="Cyberstate Technologies - SFD's Consultant">

    <title>Monitoring Hub</title>

    <!-- vendor css -->
    <link href="theme/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="theme/lib/Ionicons/css/ionicons.css" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="theme/css/bracket.css">
  </head>
<style>
.custom-color {
  color: #313e5f;
    border-color: #313e5f;
    border-width: thin;
    background: #ff978f;
}
.orangetext {
  color: #868ba1
}

.bg-br-primary {
  background-color: rgb(253 254 255);
}
.btn {
  height: 131px;
  font-size: 16px;
}
.btn > h5{
    color: #fdfeff;
}

.custom-color:hover{
  box-shadow: rgb(201 158 158 / 91%) 3px 6px 5px 1px;
    background: #e87d75;
}
</style>
  <body class="bg-br-primary">
    <div class="login-wrapper">
      <% if (lang == 'en') { %>
        <a href="/change_lang?lang=ar&page=landing" class="orangetext mx-1 col-md-2 btn  bd-2 tx-white tx-uppercase tx-spacing-2 tx-medium">عربى</a>
        <% } else { %>
        <a href="/change_lang?lang=en&page=landing" class="orangetext mx-1 col-md-2 btn  bd-2 tx-white tx-uppercase  tx-spacing-2 tx-medium ">English</a>
        <% } %>
    </div><!-- login-wrapper -->
    <div class="no-gutters flex-row-reverse">
     
        
        
  
      <div class="col-md-12 bg-br-primary d-flex align-items-center justify-content-center">
        <div class="wd-250 wd-xl-1000 mg-y-80">
          <% if (lang == 'en') { %>
            <div class="signin-logo tx-28 tx-bold tx-white">
              <span class="tx-normal">[</span> 
              <span class="tx-info">MONITORING HUB</span>  
              <span class="tx-normal">]</span>
            </div>
           
            <div class="signin-logo tx-18 tx-bold tx-white">
              FUNDED BY:
            </div>
            <a href="https://www.sfd.gov.sa/"><img src="sfd.jpeg" class="img-fluid" alt="" style="width:auto;height:inherit;"></a>
            <div class="tx-white mg-b-20"></div>

            <h5 class="tx-white">PROJECT INFORMATION HUB</h5>
            <p class="tx-white-6">Cyberstate Technologies has developed a web portal for the management and monitoring of all the activities that will be involved during this project.</p>
            <p class="tx-white-6 mg-b-60">The portal will provide a dashboard to the management of “Saudi Fund for Development (SFD)” for all the phases of the project to have a clear and precise overview and the details of the ground work and data for the beneficiaries being gathered by the field agents.</p>
            <div class="col-md-12 d-flex align-items-center justify-content-center">
              <a href="/login_c1" class="mx-3 col-md-4 btn  bd-2 tx-white pd-x-25 tx-uppercase tx-12 tx-spacing-2 tx-medium custom-color"><h5>Component I</h5><br>Construction of <br>8,000 Houses</a>
              <a href="/login_c3" class="mx-3 col-md-4 btn  bd-2 tx-white pd-x-25 tx-uppercase tx-12 tx-spacing-2 tx-medium custom-color"><h5>Component II</h5><br>Livelihood Restoration<br> in Awaran</a>
              <a href="/login_c2" class="mx-3 col-md-4 btn   bd-2 tx-white pd-x-25 tx-uppercase tx-12 tx-spacing-2 tx-medium custom-color"><h5>Component III</h5><br>Reconstruction of<br>Government Buildings<br>in Awaran</a>
            </div>
          <% } else { %>
              <div class="signin-logo tx-28 tx-bold tx-white">
                <span class="tx-normal">[</span> 
                <span class="tx-info"> محور المراقبة</span>
                <span class="tx-normal">]</span>
              </div>
  
              <div class="signin-logo tx-18 tx-bold tx-white">
                  بتمويل من :
                </div>
                <img src="sfd-removebg.png" class="img-fluid" alt="" style="width:auto;height:inherit;">
                <div class="tx-white mg-b-20"></div>

              <h5 class="tx-white">محور معلومات المشروع</h5>
              <p class="tx-white-6">طورت Cyberstate Technologies بوابة إلكترونية لإدارة ومراقبة جميع الأنشطة التي يتضمنها هذا المشروع.</p>
              <p class="tx-white-6 mg-b-60">ستوفر البوابة لوحة تحكم لإدارة " الصندوق السعودي للتنمية (SFD) " لجميع مراحل المشروع للحصول على نظرة عامة واضحة ودقيقة وتفاصيل العمل الميدانى والبيانات          الخاصة بالمستفيدين الذين يتم جمعهم من قبل الوكلاء العاملين بالمجال "</p>
              <div class="col-md-12 d-flex align-items-center justify-content-center">
              <a href="/login_c1" class="mx-3 col-md-4 btn  bd-2 tx-white pd-x-25 tx-uppercase tx-12 tx-spacing-2 tx-medium custom-color">المكون I</a>
              <a href="/login_c2" class="mx-3 col-md-4 btn   bd-2 tx-white pd-x-25 tx-uppercase tx-12 tx-spacing-2 tx-medium custom-color">المكون II</a>
              <a href="/login_c3" class="mx-3 col-md-4 btn  bd-2 tx-white pd-x-25 tx-uppercase tx-12 tx-spacing-2 tx-medium custom-color">المكون III</a>
              </div>
          <% } %>
        </div><!-- wd-500 -->
      </div>
  

    <script src="theme/lib/bootstrap/js/bootstrap.js"></script>
<script>
  // setTimeout(()=>{
  //   window.location.replace("/login");
  // }, 5000)
  
</script>
  </body>
</html>
