<!DOCTYPE html>
<% if (lang == 'en') { %>
  <html lang="en">
<% } else { %>
  <html lang="en" dir="rtl" class="rtl">
<% } %>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Meta -->
    <meta name="description" content="HRA Monitoring Portal">
    <meta name="author" content="Cyberstate">

    <title>HRA - Survey Review</title>

    <!-- vendor css -->
    <link href="theme/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="theme/lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="theme/lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="theme/lib/jquery-switchbutton/jquery.switchButton.css" rel="stylesheet">
    <link href="theme/lib/highlightjs/github.css" rel="stylesheet">
    <link href="theme/lib/datatables/jquery.dataTables.css" rel="stylesheet">
    <link href="theme/lib/datatables/jquery.dataTables.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/rowreorder/1.2.5/css/rowReorder.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="theme/css/bracket.css">


    <style>
      /* Tooltip container */
.tooltipm {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltipm .tooltiptext {
  visibility: hidden;
  width: 85px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: -2em;
  left: -0.1em;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipm:hover .tooltiptext {
  visibility: visible;
}
    </style>
  </head>

  <body>
    <% include ../partials/header %>

    <!-- ########## START: MAIN PANEL ########## -->
    <div class="br-mainpanel">
      <div class="br-pageheader">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <% if (lang == 'en') { %>
            <a class="breadcrumb-item" href="/hc-dashboard">Dashboard</a>
            <span class="breadcrumb-item active">Beneficiaries</span>
          <% } else { %>
            
            <span class="breadcrumb-item active">المستفيدين</span>
            <a class="breadcrumb-item" href="/hc-dashboard">لوحة القيادة</a>
          <% } %>
        </nav>
      </div><!-- br-pageheader -->
      <div class="br-pagetitle">
        <i class="icon icon ion-ios-bookmarks-outline"></i>
        <div>
          <% if (lang == 'en') { %>
            <h4>New Survey Review</h4>
            <p class="mg-b-0">View survey images</p>
          <% } else { %>
            <h4>إدارة المستفيدين</h4>
            <p class="mg-b-0">عرض وإدارة المعلومات الأساسية ومراقبة المعلومات للمستفيدين</p>
          <% } %>
          
        </div>
      </div><!-- d-flex -->

      <div class="br-pagebody">
        <div class="br-section-wrapper">
          <div class="row mg-t-0">
            <div class="col-sm-12">
              <div class="form-layout form-layout-4">
                <div class="row mg-t-5">
                  <div class="col-sm-12 mg-t-5 mg-sm-t-0">
                    <table id="dtBeneficiary" class=" ui celled table hover" style="width:100%"></table>
                  </div>
                </div><!-- row -->
              </div><!-- form-layout -->
            </div>

          </div>
        </div><!-- br-section-wrapper -->
      </div><!-- br-pagebody -->
      <% include ../partials/footer %>
    </div><!-- br-mainpanel -->
    <!-- ########## END: MAIN PANEL ########## -->



    <script src="theme/lib/jquery/jquery.js"></script>
    <script src="theme/js/popper.js"></script>
    <script src="theme/lib/bootstrap/js/bootstrap.js"></script>
    <script src="theme/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="theme/lib/moment/moment.js"></script>
    <script src="theme/lib/jquery-ui/jquery-ui.js"></script>
    <script src="theme/lib/jquery-switchbutton/jquery.switchButton.js"></script>
    <script src="theme/lib/peity/jquery.peity.js"></script>
    <script src="theme/lib/highlightjs/highlight.pack.js"></script>
    <script src="theme/lib/datatables/jquery.dataTables.js"></script>
    <script src="theme/lib/datatables-responsive/dataTables.responsive.js"></script>
    <script src="https://cdn.datatables.net/rowreorder/1.2.5/js/dataTables.rowReorder.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>

    <script src="theme/lib/select2/js/select2.min.js"></script>

    <script src="theme/js/bracket.js"></script>

    <script>

      $(function(){
        $(document).ready(function() {
          function htmlDecode(input){
            var e = document.createElement('div');
            e.innerHTML = input;
            return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
          }
          var lang = JSON.parse(htmlDecode("<%= JSON.stringify(lang) %>"));

          var columns = ['CNIC',  'NAME', 'LEVEL ACHIEVED','FRONT IMAGE','SIDE IMAGE', 'OTHER IMAGE'];

          if (lang == 'ar') {
            columns = ['CNIC',  'اسم المستفيد', '','','','','','رقم الهاتف', 'قرية', 'مجلس النقابات', '','تم التحديث بواسطة'];
          }
          document.getElementById("li-beneficiary").classList.add('active');
          document.getElementById("ben-list").classList.add('active');
          

          var url = "/beneficiary/getimages";
      		$('#dtBeneficiary').DataTable({
            "paging":         	true,
            "processing":       false,
            "serverSide":       false,
            "orderCellsTop":    false,
            "ordering":         false,
            rowReorder: {
              selector: 'td:nth-child(2)'
            },
            responsive: true,
    				"ajax": {
    					"url": 							url,
    					"dataSrc": 					""
            },
            "columnDefs": [ {
              "targets": -1,
              "data": null,
              "defaultContent": "<button>Details</button>"
            } ] ,
    				"columns": [
              {"data": "CNIC", "title":columns[0]},
              { "data": "MonitoringLevel", "title":columns[1], render : function ( data, type, row, meta ) {
              return type === 'display'  ?
                `Level-${row.MonitoringLevel}` : data;
            } },
              { "data": "FrontImage", "title": columns[2] ,  render : function ( data, type, row, meta ) {
              return type === 'display'  ?
                ` <img src="/images/monitoring-01/${row.FrontImage.split("\/").pop()}"
                              style="max-width: 60%;"" />` :
                data;
            } },

            { "data": "SideImage", "title": columns[3] ,  render : function ( data, type, row, meta ) {
              return type === 'display'  ?
                ` <img src="/images/monitoring-01/${row.SideImage.split("\/").pop()}"
                              style="max-width: 60%;" />` :
                data;
            } },

            { "data": "OtherImage", "title": columns[4] ,  render : function ( data, type, row, meta ) {
              return type === 'display'  ?
                ` <img src="/images/monitoring-01/${row.OtherImage.split("\/").pop()}"
                              style="max-width: 60%;" />` :
                data;
            } }

              

            ]
    			});

          var table = $('#dtBeneficiary').DataTable();

        
          
        });


      });
    </script>
  </body>
</html>
