<style>
  .footer-left {
    padding-left: 16%;
}
</style>
<footer class="br-footer">
  <div class="footer-left">
      <% if (lang == 'en') { %>
        <div>* as per project-account bank statement</div>
        <div>‡ as per field data</div>
        <div class="">Copyright &copy; 2024. Cyberstate Technologies. All Rights Reserved.</div>
        <div>Attentively and carefully maintained by Cyberstate Technologies Pvt Ltd.</div>
      <% } else { %>
        <div class="">كافة حقوق الطبع والنشر محفوظة الى  © 2024. Cyberstate Technologies</div>
        <div>تتم صيانتها بحرص و عناية من قبل Cyberstate Technologies Pvt Ltd</div>
      <% } %>
    
  </div>
  
</footer>
